<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
<h1>Home Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid aspernatur deleniti dicta eos error
    officiis pariatur quibusdam sequi unde. Consequatur delectus molestiae non velit!
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum dolore explicabo nam possimus. A alias
    architecto aut blanditiis consequatur consequuntur cum cupiditate dicta doloremque, dolorum esse fuga hic id illo
    illum modi nam nobis officia officiis perferendis quasi quibusdam quo repellat sit tempore unde ut voluptatem.
    Debitis, dolor dolores expedita impedit ipsa ipsum laudantium nesciunt pariatur recusandae saepe sapiente sequi vero
    voluptates. Accusantium, aliquid, aperiam aspernatur assumenda corporis cupiditate debitis deleniti dignissimos
    doloremque dolores ea eius error est, exercitationem fuga hic id illo ipsum magnam modi neque nobis nulla numquam
    provident quidem reiciendis reprehenderit saepe sequi tenetur veniam voluptatibus!
</p>

</body>
</html>