<%- include('templates/header') %>
<h1>Your random number is <%= num %> <%= isOdd %></h1>
<% if(num % 2 === 0) { %>
    <h1>Your number is even</h1>
<% } else { %>
    <h1>Your number is odd</h1>
<% } %>
<%- include('templates/footer') %>